<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Randomail : <%= about_us.name %></title>

    include "templates/_css_includes.html"
</head>
<body>

include "templates/_nav.html"


<style>
    body {
        background: #eee !important;
    }

    .faq {
        margin-top: 10px;
    }
</style>

<div class="container faq">
    <h1><%= about_us.name %></h1>

    <div class="row">
        <div class="card">
            <div class="card-content">
                <p><%= about_us.description %></p>
            </div>
        </div>
    </div>
    
    <h2><%= about_us.founders_h2 %></h2>

    <div class="row">
    <% _.each(about_us.founders, function(p) { %>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="<%= p.img %>"
                                 alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <h5><%= p.name %></h5>
                            <% if (typeof(p.twitter) !== "undefined") { %>
                            <a href="<%= p.twitter %>"><img src="/img/twitter.png" alt=""></a> 
                            <% } %>
                            <% if (typeof(p.linkedin) !== "undefined") { %>
                            <a href="<%= p.linkedin %>"><img src="/img/linkedin.png" alt=""></a>
                            <% } %>
                            <br />
              <span class="black-text">
                <%= p.description %>
              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
    </div>

    <h2><%= about_us.helpers_h2 %></h2>

    <div class="row">
    <% _.each(about_us.helpers, function(p) { %>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="<%= p.img %>"
                                 alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <h5><%= p.name %></h5>
                            <% if (typeof(p.twitter) !== "undefined") { %>
                            <a href="<%= p.twitter %>"><img src="/img/twitter.png" alt=""></a> 
                            <% } %>
                            <% if (typeof(p.linkedin) !== "undefined") { %>
                            <a href="<%= p.linkedin %>"><img src="/img/linkedin.png" alt=""></a>
                            <% } %>
                            <br />
                              <span class="black-text">
                                <%= p.description %>
                              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
    </div>

</div>

include "templates/_footer.html"

include "templates/_js_includes.html"

</body>
</html>
