<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="white-text">Randomail</h5>

                <p class="grey-text text-lighten-4"></p>


            </div>
            <div class="col l2 s12 center">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text" href="features.html">Features</a></li>
                    <li><a class="white-text" href="faq.html">F.A.Q</a></li>
                    <li><a class="white-text" href="contact.html">Contact Us</a></li>
                    <li><a class="white-text" href="about.html">About Us</a></li>
                    <li><a class="white-text" href="http://blog.randomail.net">Blog</a></li>
                    <li><a class="white-text" href="terms.html">Legals</a></li>
                </ul>
            </div>

            <div class="col l5 s12 right">
                <a href="https://chrome.google.com/webstore/detail/randomail/cphbmgkjibjkgpadoladcajdaldaepgg"><img src="/img/ChromeWebStore_BadgeWBorder_v2_340x96.png" class="responsive-img"></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2012-2015 Randomail.net
        </div>
    </div>
</footer>