<nav class="blue darken-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="index.html" class="brand-logo">
            <div class="brand-logo-img"></div>
            <div class="text">Randomail</div></a>

        <ul class="right hide-on-med-and-down">
            <li><a href="features.html"><%= features.name %></a></li>
            <li><a href="faq.html"><%= faq.name %></a></li>
            <li><a href="//app.randomail.net">Login</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="features.html">Features</a></li>
            <li><a href="faq.html">F.A.Q</a></li>
            <li><a href="//app.randomail.net">Login</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>